.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.section-title p{
  max-width: -webkit-fill-available !important;
}

.single-repair-box-modify {
  /* padding: 28px 48px 58px 40px !important; */
  min-height:291px;
}
